.shippingContainer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.shippingBox {
    background-color: var(--light-navy);
    width: 35vw;
    max-height: fit-content;
    box-sizing: border-box;


    margin-bottom: 6rem;
    overflow: hidden;
    background: rgba( 10, 25, 47, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.shippingHeading {
    text-align: center;
    color: var(--green);
    font: 400 1.3vmax var(--font-mono);
    padding: 1vmax;
    border-bottom: 1px solid var(--green);
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;

}

.shippingForm > div {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

.state > select {
    color: var(--slate);
}
.country > select{ 
    color: var(--slate);
}
.shippingForm > div > input,.shippingForm >div>select {
    padding: 1vmax 4vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--slate);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
    background-color: var(--light-navy);
}

.shippingForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);

    font-size: 1.6vmax;
    color: var(--green);
}


.shippingForm > .shippingBtn {
    border: none;
    box-sizing: border-box;
    background-color: var(--dark-navy);
    color: var(--dull-white);
    font: 300 1vmax var(--font-mono);
    width: 50%;
    padding: 1vmax;
    cursor: pointer;
    margin: 2vmax;
    border-radius: 4px;
    border: 2px solid var(--green);
    transition: all 0.5s ;
}

.shippingForm > .shippingBtn:hover {
    
    color: var(--green);
    background-color: var(--hover-blue);

}


@media screen and (max-width : 1260px) {

.shippingHeading {

    font: 400 1.9vmax var(--font-mono);
    

}
.shippingBox{
    width: 50vw;
    padding: 0 4rem;
}
.shippingForm > .shippingBtn {
    width: 50%;
    padding: 1rem 2rem;
}




.shippingForm > div > svg {
    font-size: 2vmax;
}


}

@media screen and (max-width : 1000px) {
    .shippingBox {
        width:80vw;
        height: 90vh;
    }
    .shippingForm > div > input {
        font: 400 2vmax var(--cursive);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .shippingForm > div {
        padding-top: 0rem;
    }

}
@media screen and (max-width : 600px) {
    .shippingForm > div > input {
        font: 400 2vmax var(--cursive);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .shippingBox {
        padding: 0;
    }
    .shippingContainer {
        padding: 0;
    }


}
@media screen and (max-width : 400px) {

    .shippingForm{
        padding: 0.2rem;
    }
    .shippingHeading {
        width: 100%;
    }
    .shippingBox {
        padding: 0;
        box-shadow: none;
        border: none;
    }
    .shippingBox > .shippingForm  > .shippingBtn {
        margin: 0;
    }

}