.shippingContainer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shippingBox {
    background-color: white;
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}

.shippingHeading {
    text-align: center;
    color: black;
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;

}

.shippingForm > div {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 1vmax;
}

.shippingForm > div > input,.shippingForm >div>select {
    padding: 1vmax 4vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
    background-color: white;
}

.shippingForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);

    font-size: 1.6vmax;
    color: black;
}


.shippingForm > .shippingBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1vmax "Roboto";
    width: 100%;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s ;
    outline: none;
    margin: 2vmax;
}

.shippingBtn:hover{
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width : 1260px) {
    .shippingBox {
        width: 45vw;
        height: 90vh;
    }

    
.shippingHeading {

    font: 400 1.9vmax "Roboto";
    padding: 1.3vmax;

}

.shippingForm {
    padding: 2vmax;

}

.shippingForm > div {

    padding-top: 0vmax;
}

.shippingForm > div > input,.shippingForm >div>select {
    padding: 2vmax 4vmax;
    width: 100%;
    font: 300 1.5vmax cursive;
}

.shippingForm > div > svg {
    font-size: 2vmax;
}


.shippingForm > .shippingBtn {
    font: 300 2vmax "Roboto";
    width: 100%;
    border-radius: 8px;
    padding: 2vmax;
    cursor: pointer;
}
}

@media screen and (max-width : 700px) {
    .shippingBox {
        width:80vw;
        height: 90vh;
    }


}
@media screen and (max-width : 350px) {
    .shippingBox {
        width:100vw;
        height: 90vh;
    }
    .shippingHeading {

        font: 400 1.6vmax "Roboto";
        padding: 1.3vmax;
    
    }

}