#footer > .bg-footer {
    background-color: var(--navy);
    width: 100%;
   
}

.ml-1{
    margin-left: 0.3rem;
}
.mr-2{
    margin-right: 2rem;
}
.text-center a{
    text-decoration: none;
    font-family: var(--font-mono);
    color: var(--green);
}
.text-center a:hover{
    background-color: var(--hover-blue);
    color: var(--green);
}
#name {
    margin-left: 0.5rem;
    color: var(--green);
    font-family: var(--font-mono);
}
